@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rufina", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    border-right: 0.1px dashed white;
    background: #18191b;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}


.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
}
.logo_content .logo span {
    color: #6358e8;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    height: 35px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    width: 122px;
    text-align: center;
    background-color: #fff;
    line-height: 35px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    display: block;
    
}

.sidebar.active ul li:hover .tooltip{
    display: none;
}


.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #6358e8;;
    
    
}

.sidebar ul li a:active {
    color: #6358e8;; 
}

.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
    
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    margin: 0 15px;
    background: black;
    border-radius: 6px;
    width: 70%;
    height: 140px;
    padding: 20px;
}

.sidebar.active .profile_content .profile{
    background: none;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}


.profile .profile_details .name_job {
    margin-left: 10px;
}
.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.home_content {
    position: relative;
    height: 100vh;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    scroll-behavior: auto;
    background: #18191b;
    overflow-y: scroll;
}


/* .home_content .text{
    font-size: 15px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;

} */

.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}

.home_content .header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 12px;
}

.home_content .header .search input {
    position: absolute;
    width: 30%;
    height: 40px;
    border-radius: 7px;
    /* outline: none; */
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
    background: #18191b;
    border-color: white;
    border: 1px dashed;
}

.home_content .header .search .bx-search{
    position: absolute;
    z-index: 99;
    font-size: 22px;
    transition: all 0.5s ease;
    margin: 10px 7px;
}

.hr{
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: #fff;
}  
.card-hr{
    border-bottom: #707481;
    margin-top: 10px;
}  


.home_content .header .others{
    flex-direction: flex-end;
    padding: 0 10px;
    justify-content: space-between;
}

.home_content .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.home_content .top-bar .left-top {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.home_content .top-bar .left-top .text-link {
    margin-top: 8px;
}

.top-bar a {
    text-decoration: none;
    margin-top: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.home_content .activities {
    padding: 10px 40px;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(4,1fr);
}

.home_content .activities span{
    color: white;
}
.home_content .activities .dot{
    font-size: 50px;
    margin-right: 10px;
    color: #6358e8;
}
.home_content .activities .dot-1{
    font-size: 50px;
    margin-right: 10px;
    color: orange;
}
.home_content .activities .dot-2{
    font-size: 50px;
    margin-right: 10px;
    color: #6358e8;
}
.home_content .activities .dot-3{
    font-size: 50px;
    margin-right: 10px;
    color: green;
}
.home_content .activities .border-num{
    border: 1px solid white;
    border-radius: 50%;
    padding: 0 4px;
    margin-left: 10px;
    text-align: center;
    background: white;
    color: #18191b;
    font-size: 12px;
}

.home_content .grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px 40px;
}

.home_content .grid .grid_1 .card {
    padding-top: 20px;
}

.grid .card {
    border-radius: 5px;
    background: #707481;
    /* padding: 5px 15px; */
    width: 90%;
    padding: 5px 10px;
    margin-top: 5px;
}

.grid .card .top{
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    color: #fff;
    margin-bottom: 10px;
}

.grid .card .img_1{
    width: 100%;
    height: 20%;
    border-radius: 15px;
}
.grid .card .notes{
    font-size: 5px;
    margin-top: 10px;
    color: #fff;

}
.grid .card .footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.grid .card .footer span{
    margin-left: 10px;
    margin-top: 20px;
}
.grid .card .notes{
    font-size: 14px;
}

.bxs-message-dots {
    color: #6358e8;
    margin-top: 2px;
}
.bx-search {
    color: #fff;
}
.bxs-calendar{
    color: rgb(100, 186, 100);
}
.bxs-sort-alt{
    margin-right: 5px;
}
.bxs-bell{
    color: white;
    /* margin-right: 5px; */
}
.bxs-message-square-add{
    color: white;
}

.bottom-btn {
    background: #6358e8;
    border-radius: 7px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    color: white;
}

.notif-border {
    border: 1px dashed white;
    width: 10px;
    margin: 0 12px;
    align-items: center;
    padding: 4px;
    
}

.avatar {
    width: 20px;
    height: 20px;
}
.button-colored {
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    background: #6358e8;
    color: white;
    margin-left: 10px;
}
.button {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    background: #beb9b9;
    color: white;
}

@media screen and (min-width: 768px) {
    
}